ENV=dev

API_PORT=3000
API_HOST=localhost
API_KEY=express-server-api-key-example

API_SECRET=express-secret-example
JWT_SECRET=express-jwt-secret-example

DB_HOST=localhost
DB_USER=expressDBUser
DB_PASSWORD=expressDBUserPassword
DB_NAME=expressDB
DB_PORT=3306

DOTENV_PATH=.env